In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("example").getOrCreate()

In [2]:
df_spark = spark.read.csv("group_by_dataset.csv", header=True, inferSchema=True)

In [3]:
df_spark.show()

+----------+-----------+--------+-----+--------+
|CustomerID|       City| Product|Price|Quantity|
+----------+-----------+--------+-----+--------+
|         1|   New York|  Apples|  3.5|      10|
|         2|Los Angeles| Oranges|  2.5|       5|
|         1|   New York| Bananas|  1.2|      10|
|         3|    Chicago|  Apples|  3.0|      20|
|         4|   New York| Oranges|  2.8|      25|
|         3|    Chicago| Bananas|  1.0|      30|
|         2|Los Angeles|  Apples|  3.8|       5|
|         4|   New York|Cherries|  5.5|      15|
|         5|    Chicago|  Grapes|  2.0|      20|
|         3|    Chicago| Oranges|  2.2|      10|
|         1|   New York|  Grapes|  2.5|      20|
|         2|Los Angeles|Cherries|  6.0|      10|
|         5|    Chicago|  Apples|  3.3|      15|
|         3|    Chicago|  Grapes|  2.5|      20|
+----------+-----------+--------+-----+--------+

In [5]:
df_spark.groupBy('City').count().show()

+-----------+-----+
|       City|count|
+-----------+-----+
|Los Angeles|    3|
|    Chicago|    6|
|   New York|    5|
+-----------+-----+

In [6]:
df_spark.groupBy('City').sum().show()

+-----------+---------------+----------+-------------+
|       City|sum(CustomerID)|sum(Price)|sum(Quantity)|
+-----------+---------------+----------+-------------+
|Los Angeles|              6|      12.3|           20|
|    Chicago|             22|      14.0|          115|
|   New York|             11|      15.5|           80|
+-----------+---------------+----------+-------------+

In [8]:
df_spark.groupBy('City').max().show()

+-----------+---------------+----------+-------------+
|       City|max(CustomerID)|max(Price)|max(Quantity)|
+-----------+---------------+----------+-------------+
|Los Angeles|              2|       6.0|           10|
|    Chicago|              5|       3.3|           30|
|   New York|              4|       5.5|           25|
+-----------+---------------+----------+-------------+

In [9]:
df_spark.groupBy('City').agg({'Salary': 'sum'}).show()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `Salary` cannot be resolved. Did you mean one of the following? [`CustomerID`, `City`, `Product`, `Price`, `Quantity`].