In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("practice2").getOrCreate()

In [4]:
df_pyspark = spark.read.csv("dataset_missing_values.csv", header=True, inferSchema=True)

In [6]:
df_pyspark.show()

+---------+--------------+-----------+------+--------+
|ProductID|   ProductName|   Category| Price|Quantity|
+---------+--------------+-----------+------+--------+
|        1|  Coffee Maker| Appliances| 79.99|     120|
|        2|       Blender| Appliances|  NULL|      80|
|        3|     Desk Lamp|  Furniture| 19.99|    NULL|
|        4|  Dining Chair|  Furniture| 45.99|     100|
|        5| Running Shoes|   Clothing|  NULL|     200|
|        6|        Jacket|   Clothing|149.99|    NULL|
|        7| Laptop Sleeve|Electronics| 29.99|      50|
|        8|Wireless Mouse|Electronics|  NULL|    NULL|
+---------+--------------+-----------+------+--------+

In [9]:
df_pyspark.na.drop(how='all').show()

+---------+--------------+-----------+------+--------+
|ProductID|   ProductName|   Category| Price|Quantity|
+---------+--------------+-----------+------+--------+
|        1|  Coffee Maker| Appliances| 79.99|     120|
|        2|       Blender| Appliances|  NULL|      80|
|        3|     Desk Lamp|  Furniture| 19.99|    NULL|
|        4|  Dining Chair|  Furniture| 45.99|     100|
|        5| Running Shoes|   Clothing|  NULL|     200|
|        6|        Jacket|   Clothing|149.99|    NULL|
|        7| Laptop Sleeve|Electronics| 29.99|      50|
|        8|Wireless Mouse|Electronics|  NULL|    NULL|
+---------+--------------+-----------+------+--------+

In [12]:
df_pyspark.na.drop(thresh=4).show()

+---------+-------------+-----------+------+--------+
|ProductID|  ProductName|   Category| Price|Quantity|
+---------+-------------+-----------+------+--------+
|        1| Coffee Maker| Appliances| 79.99|     120|
|        2|      Blender| Appliances|  NULL|      80|
|        3|    Desk Lamp|  Furniture| 19.99|    NULL|
|        4| Dining Chair|  Furniture| 45.99|     100|
|        5|Running Shoes|   Clothing|  NULL|     200|
|        6|       Jacket|   Clothing|149.99|    NULL|
|        7|Laptop Sleeve|Electronics| 29.99|      50|
+---------+-------------+-----------+------+--------+

In [14]:
df_pyspark.na.fill(0).show()

+---------+--------------+-----------+------+--------+
|ProductID|   ProductName|   Category| Price|Quantity|
+---------+--------------+-----------+------+--------+
|        1|  Coffee Maker| Appliances| 79.99|     120|
|        2|       Blender| Appliances|   0.0|      80|
|        3|     Desk Lamp|  Furniture| 19.99|       0|
|        4|  Dining Chair|  Furniture| 45.99|     100|
|        5| Running Shoes|   Clothing|   0.0|     200|
|        6|        Jacket|   Clothing|149.99|       0|
|        7| Laptop Sleeve|Electronics| 29.99|      50|
|        8|Wireless Mouse|Electronics|   0.0|       0|
+---------+--------------+-----------+------+--------+