In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("big data").getOrCreate()

In [2]:
df_bank = spark.read.csv("bank_transactions.csv", header=True, inferSchema=True)

In [10]:
spark

In [3]:
df_bank.printSchema()

root
 |-- TransactionID: string (nullable = true)
 |-- CustomerID: string (nullable = true)
 |-- CustomerDOB: string (nullable = true)
 |-- CustGender: string (nullable = true)
 |-- CustLocation: string (nullable = true)
 |-- CustAccountBalance: double (nullable = true)
 |-- TransactionDate: string (nullable = true)
 |-- TransactionTime: integer (nullable = true)
 |-- TransactionAmount (INR): double (nullable = true)

In [5]:
df_bank.show()

+-------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------------+
|TransactionID|CustomerID|CustomerDOB|CustGender|CustLocation|CustAccountBalance|TransactionDate|TransactionTime|TransactionAmount (INR)|
+-------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------------+
|           T1|  C5841053|    10/1/94|         F|  JAMSHEDPUR|          17819.05|         2/8/16|         143207|                   25.0|
|           T2|  C2142763|     4/4/57|         M|     JHAJJAR|           2270.69|         2/8/16|         141858|                27999.0|
|           T3|  C4417068|   26/11/96|         F|      MUMBAI|          17874.44|         2/8/16|         142712|                  459.0|
|           T4|  C5342380|    14/9/73|         F|      MUMBAI|         866503.21|         2/8/16|         142714|                 2060.0|
|           T5|  C9031234|    24/3/88|         F| NAVI MUMBAI|           6714.43|         2/8/16|         181156|                 1762.5|
|           T6|  C1536588|    8/10/72|         F|    ITANAGAR|           53609.2|         2/8/16|         173940|                  676.0|
|           T7|  C7126560|    26/1/92|         F|      MUMBAI|            973.46|         2/8/16|         173806|                  566.0|
|           T8|  C1220223|    27/1/82|         M|      MUMBAI|          95075.54|         2/8/16|         170537|                  148.0|
|           T9|  C8536061|    19/4/88|         F|     GURGAON|          14906.96|         2/8/16|         192825|                  833.0|
|          T10|  C6638934|    22/6/84|         M|      MUMBAI|           4279.22|         2/8/16|         192446|                 289.11|
|          T11|  C5430833|    22/7/82|         M|      MOHALI|          48429.49|         2/8/16|         204133|                  259.0|
|          T12|  C6939838|     7/7/88|         M|      GUNTUR|          14613.46|         2/8/16|         205108|                  202.0|
|          T13|  C6339347|    13/6/78|         M|   AHMEDABAD|          32274.78|         2/8/16|         203834|                12300.0|
|          T14|  C8327851|     5/1/92|         F|       THANE|          59950.44|         1/8/16|          84706|                   50.0|
|          T15|  C7917151|    24/3/78|         M|        PUNE|          10100.84|         1/8/16|          82253|                  338.0|
|          T16|  C8334633|    10/7/68|         F|   NEW DELHI|           1283.12|         1/8/16|         125725|                  250.0|
|          T17|  C1376215|   1/1/1800|         M|      MUMBAI|          77495.15|         1/8/16|         124727|                1423.11|
|          T18|  C8967349|    16/7/89|         M|      MUMBAI|           2177.85|         1/8/16|         124734|                   54.0|
|          T19|  C3732016|    11/1/91|         M|      MUMBAI|          32816.17|         1/8/16|         122135|                  315.0|
|          T20|  C8999019|    24/6/85|         M|        PUNE|           10643.5|         1/8/16|         152821|                  945.0|
+-------------+----------+-----------+----------+------------+------------------+---------------+---------------+-----------------------+
only showing top 20 rows

In [7]:
df_bank.groupBy("CustGender").count().show()

+----------+------+
|CustGender| count|
+----------+------+
|         F|281936|
|      NULL|  1100|
|         M|765530|
|         T|     1|
+----------+------+

In [8]:
df_bank.groupBy("CustLocation").count().show()

+--------------------+-----+
|        CustLocation|count|
+--------------------+-----+
|             GWALIOR|  948|
|      UTTAR DINAJPUR|   62|
|             SANGRUR|  353|
|  ACADEMY SAMASTIPUR|    5|
|NO 3 NR LALLAN HO...|   57|
|GATE DARIYAPUR AH...|    7|
|ELPHINSTONE W MUMBAI|   12|
|             SHIMOGA|  114|
|          FLOOR PUNE|    2|
|           TIRUVALLA|    8|
|              BOKARO|  549|
|            KALYAN W|   61|
|       RAMABAI NAGAR|   23|
| DOMBIVLI EAST THANE|   27|
|NASHIK NASHIK NAS...|    8|
|  HOSPITAL NEW DELHI|   29|
| HAJARIBAG HAJARIBAG|    4|
|OFF HAL AIRPORT B...|    2|
|    EXCHANGE KOLKATA|    4|
|  SHIVAJI NAGAR PUNE|   19|
+--------------------+-----+
only showing top 20 rows

NameError: name 'null' is not defined